In [ ]:
import psycopg2
import pandas as pd
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt
import csv

In [2]:
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [3]:
engine = create_engine('postgresql+psycopg2://koxrqvuuxugccs:6878ba0790ec132289e57f3ed6daa22ada7e6368bea3a7489f4c03cb2bfb9ff1@ec2-174-129-214-42.compute-1.amazonaws.com/d64jo158fls6ag')
connection = engine.connect()

In [4]:
inspector = inspect(engine)
inspector.get_table_names()

['lines', 'metadata', 'prim_key']

In [5]:
main_df_i = pd.read_sql('''
select
l.s0e0,
speaker,
line_text,
p.ep_id,
title,
synopsis,
imdb_rating
from lines l
join prim_key p
	on p.s0e0 = l.s0e0
join metadata m
	on p.ep_id = m.episode_no
''', engine)

In [10]:
main_df_i.head()

,s0e0,speaker,line_text,ep_id,title,synopsis,imdb_rating
0,101,Angela,5,2,Pilot,The premiere episode introduces the boss and s...,7.5
1,101,Documentary Crew Member,3,2,Pilot,The premiere episode introduces the boss and s...,7.5
2,101,Dwight,35,2,Pilot,The premiere episode introduces the boss and s...,7.5
3,101,Jan,12,2,Pilot,The premiere episode introduces the boss and s...,7.5
4,101,Jim,37,2,Pilot,The premiere episode introduces the boss and s...,7.5

In [ ]:
main_df_top_cast = main_df_i.groupby(['speaker'])